<div class="card-img-top">
    <div class="imgContainer" style="width:100%; padding-left: 0px; padding-right: 0px">
        <img src="{{ asset('images/catwoman.jpg')}}" alt="Avatar" class="image" >
        <div class="middle">
            <a href="#"><button type="button" class="btn btn-outline-success">Vote</button></a>
        </div>
    </div>
</div>
<div class="card-body">
    <h5 class="card-title">user.name</h5>
    <h5>user.department</h5>
            {# the people how comment / voted the nominee #}
    <!-- Comment modal -->
</div>
