<div class="media">
    <a href="#"><img src="{{ asset('images/batman.png')}}" alt="Avatar" class="avatar"> </a>
    <div class="media-body">
        <div class="commentContent">
        <strong class="mt-0">Nyiko's comments</strong> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque 
        ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi 
        vulputate fringilla. Donec lacinia congue felis in faucibus. 
        </div>
    <div class="likeComment">  
        <a href="">like</a>
    </div> 
    <div class="field">
        <div class="media mt-3">
            <a href="#"><img src="{{ asset('images/batman.png')}}" alt="Avatar" class="avatar"></a>
                <div class="media-body">
                    <div class="commentContent">
                        <strong class="mt-0">kwazi's comments</strong> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante 
                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate 
                        fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
        </div> 
    <!-- Add Comment toggle text with anchor btn -->   
    </div>
</div>
</div>

