{{include('_includes/nav/main.html.twig') }}

{% block body %}

<div class="container-fluid">
  <div class="col-sm-3" style="margin-top: 20px">
    <div class="card">
      <div class="card-img">
        <div class="container-fluid">
          <img src="{{ asset('images/catwoman.jpg')}}" alt="Avatar" class="image" style="width:100%; height:auto">
          <div class="middle">
            <div class="">
              <a href="#">Vote</a>
            </div>
            </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
