<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

  <img src="{{ asset('images/miway.png') }}" alt="">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('main.homepage')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown clearfix">
        <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nomination
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('nomination')}}">This month nominations</a>
          <a class="dropdown-item" href="#">Comments</a>
          <a class="dropdown-item" href="#">Best ranking</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Winners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">achievements</a>
      </li>
      <li class="nav-item dropdown clearfix">
        <a class="nav-link dropdown-toggle justify-content-end" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Nameclearfix
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
