<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0" >

<a href="{{path('main.homepage')}}" class="navbar-brand col-sm-3 col-md-2 mr-0">
  <img src="{{ asset('images/miway.png') }}" alt="">
</a>
<input type="text" class="form-control form-control-light w-100" placeholder="Search">
<ul class="navbar-nav px-3">
  {% if is_granted('ROLE_USER') %}
    <li class="nav-item text-nowrap">
      <a href="" class="nav-link">Sign out</a>
      Username: {{ app.user.username }}
    </li>
  {% else %}
    <li class="nav-item text-nowrap">
      <a href="" class="nav-link">Sign in</a>
    </li>
  {% endif %}
</ul>
</nav>
