<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item"><a href="" class="nav-link">Dashboard</a></li>
      <li class="nav-item"><a href="{{path('manage.users')}}" class="nav-link">User</a></li>
      <li class="nav-item"><a href="{{path('manage.permission')}}" class="nav-link">Permission</a></li>
      <li class="nav-item"><a href="{{path('manage.role')}}" class="nav-link">Roles</a></li>
      <li class="nav-item"><a href="" class="nav-link">Nomination</a></li>
      <li class="nav-item"><a href="" class="nav-link"></a></li>
    </ul>
  </div>
</nav>
