<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=1">

        <title>{% block title %}Miway Samurai Awards!{% endblock %}</title>

        <!-- Style -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/s_nav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('js/lib/select2/dist/css/select2.min.css') }}">
        {% endblock %}
    </head>
    <body>
        <!-- front-end navigation included -->
        {% include '_includes/nav/main.html.twig' %}
        <div id="app">
          {% block carousel %}{% endblock %}

          <div class="container">
            <div class="row">

              <main class="col-md-9 ml-sm-suto col lg-10 pt-3 px-4">
                {% block body %}{% endblock %}
                {% block login %}{% endblock login %}
              </main>
            </div>
          </div>

        </div>
        <!-- scripts -->

        {% include 'requirejs/main.html.twig' %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
