.s-nav{
  width: auto;
  height: 40px;
  position: sticky;
  z-index: 1;
  float: left;

}
.s-nav-start{


}

.s-nav-end{

}
@media (any-hover:hover){
  .s-drop:hover {
    display: inline-flex;

  }
}
.s-dropmenu {
  display: none;
}

.micard {
  padding-left: 0px;
    border-right-width: \; padding-right: 0px;
    box-shadow: 1px 1px 9px 0px;
    margin: 10px;
    padding-right: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 5px;
}
