{% extends 'layouts/homepage.html.twig' %}

{% block newUser_widget %}
{{ form_start(newUser)}}

    {{ form_errors(newUser)}}

    {{ form_row(newUser.username) }}
    <button type="submit">Submit</button>
{{ form_end(newUser)}}

{% endblock %}
    