<div class="col-sm-6" style="margin-top: 20px">
       {% for user in users %}
            <div class="card">
            <div class="card-img-top">
                <div class="imgContainer" style="width:100%; padding-left: 0px; padding-right: 0px">
                    <img src="{{ asset('images/catwoman.jpg')}}" alt="{{ user.avatar }}" class="image" >
                    <div class="middle">
                        <a href="#"><button type="button" class="btn btn-outline-success">Vote</button></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ user.username }}
                <p>{{ user.email }}</p>                 
            </div>
            <div class="card-footer">
            
        </div>
       {% endfor %}
    </div>
