<div class="col-sm-6" style="margin-top: 20px">
       <div class="card">
            <div class="card-img-top">
                <div class="imgContainer" style="width:100%; padding-left: 0px; padding-right: 0px">
                    <img src="{{ asset('images/catwoman.jpg')}}" alt="Avatar" class="image" >
                    <div class="middle">
                        <a href="#"><button type="button" class="btn btn-outline-success">Vote</button></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                                       
            </div>
            <div class="card-footer">
            
        </div>
    </div>
