{% extends 'layouts/homepage.html.twig'%}

{% block body %}

    <div class="container">
      {{ form_start(userForm) }}
          {{ form_widget(userForm)}}
          <button type="submit" class="btn btn-primary">Register</button>
      {{ form_end(userForm) }}
    </div>

{% endblock %}
