{% extends 'layouts/homepage.html.twig' %}

{% block body %}
<div>
{{ include('_includes/nav/main.html.twig')}}
</div>
{{ include('main/nominate/create.html.twig')}}
<!-- loads the nomination -->
<div class="container-fluid">
      <div class="row" style="margin: 100px">
            {# side menu #}
            <div class="col-sm-3">
                  <ul>
                        <li>Manage Users
                              <ul>
                              
                                    <li>View users</li>
                                    <li> users</li>
                                    <li>View users</li>
                              
                              </ul>
                        </li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                  </ul>
            </div>
            <div class="col-sm-6">
                <div class="row">
                   
                        {{include('manage/users/show.html.twig')}}
                   
                </div> 
            </div>
            <div class="col-sm-3">sskddjf</div>
      </div>
</div>
<!-- end of the load for nomination -->


{% endblock %}
